{{#if story}}
<div class="card card-body p-4 rounded-0 bg-dark text-white">{{ story }}</div>
{{else}}
<div class="h-100 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1>Sin historias</h1>
    <img src="/img/emptyBook.png" class="w-50" />
  </div>

</div>
{{/if}}