<body>
  <div class="container mt-5 text-white">
    <!-- Agrega la imagen aquí -->
    <h1 class="text-center mb-4">¡Bienvenido al Generador de Historias!</h1>
    </br>
    <p class="lead text-center">¿Estás listo para dejar que la creatividad fluya? ¡Haz clic en el botón para generar
      historias emocionantes!</p>
    </br>
    <div class="text-center mb-4">
      <a href="/prompts" class="btn btn-primary btn-lg">Generar Historias</a>
    </div>
    </br>

    <div class="text-center mb-4">
      <img src="/img/cuentos.jpg" alt="Imagen cuentos" width="300" height="300">
    </div>
  </div>
</body>