<div class="container p-5">
  <div class="row">

    <div class="col-md-5">
      {{> prompts/prompt }} <!-- Estos son componentes que se crearon en partials -->
    </div>

    <div class="col-md-7">
      {{> prompts/solution }} <!-- Estos son componentes que se crearon en partials -->
    </div>
  </div>
</div>